{% extends 'base.html' %}

{% block title %}Leave Details{% endblock %}

{% block content %}
<div class="card">
    <div class="card-header">
        <h5>Leave Request Details</h5>
    </div>
    <div class="card-body">
        <dl class="row">
            <dt class="col-sm-3">Employee</dt>
            <dd class="col-sm-9">{{ leave.employee.get_full_name }}</dd>

            <dt class="col-sm-3">Leave Type</dt>
            <dd class="col-sm-9">{{ leave.leave_type.name }}</dd>

            <dt class="col-sm-3">Dates</dt>
            <dd class="col-sm-9">{{ leave.start_date|date:"M d, Y" }} to {{ leave.end_date|date:"M d, Y" }}</dd>

            <dt class="col-sm-3">Duration</dt>
            <dd class="col-sm-9">{{ leave.duration }} day(s)</dd>

            <dt class="col-sm-3">Status</dt>
            <dd class="col-sm-9">
                <span class="badge bg-{% if leave.status == 'A' %}success{% elif leave.status == 'R' %}danger{% else %}warning{% endif %}">
                    {{ leave.get_status_display }}
                </span>
            </dd>

            <dt class="col-sm-3">Reason</dt>
            <dd class="col-sm-9">{{ leave.reason }}</dd>
        </dl>

        <div class="mt-4">
            <a href="{% url 'leave-list' %}" class="btn btn-secondary">
                Back to List
            </a>
            {% if leave.status == 'P' %}
                <a href="{% url 'leave-update' leave.pk %}" class="btn btn-primary">
                    Edit
                </a>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}